/* Error: Declarations may only be used within style rules.
 *    ,
 * 58 |     position:relative;
 *    |     ^^^^^^^^^^^^^^^^^
 *    '
 *   src/Component/_layouts.scss 58:5        layoutFlexboxRowCenter()
 *   src/Component/_designElement.scss 85:3  designContainerCentral()
 *   src/sass/sliderCircularVO.scss 9:1      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Declarations may only be used within style rules.\a    \2577 \a 58 \2502      position:relative;\a    \2502      ^^^^^^^^^^^^^^^^^\a    \2575 \a   src/Component/_layouts.scss 58:5        layoutFlexboxRowCenter()\a   src/Component/_designElement.scss 85:3  designContainerCentral()\a   src/sass/sliderCircularVO.scss 9:1      root stylesheet";
}
